@charset "UTF-8";
.div_security_area {
  height: -moz-fit-content;
  height: fit-content;
}

#container_G_Film {
  min-height: 100vh;
}

.cockpit_filmes_form {
  flex: 1;
  justify-content: space-between;
  margin: 48px 0;
  align-items: center;
}
.cockpit_filmes_form .btn_return {
  background-color: #171317;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 16px;
  margin-bottom: 32px;
  color: #878387;
  font-size: 1.1rem;
}

.inputs_area {
  width: 100%;
  display: flex;
  gap: 24px;
}
.inputs_area .input_div {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.inputs_area .input_div .input_capas {
  position: relative;
  height: 100%;
  width: 400px;
  background-color: #171317;
  margin-top: 16px;
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.inputs_area .input_div .input_capas .img_preview {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.inputs_area .input_div .input_capas input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.inputs_area.linear {
  display: flex;
  flex-direction: column;
  margin: 48px 0;
  height: -moz-fit-content;
  height: fit-content;
}
.inputs_area.linear .div_list_inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 24px;
}
.inputs_area.linear .div_list_inputs .input_div_grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.inputs_area.linear .div_list_inputs .input_div_grid input,
.inputs_area.linear .div_list_inputs .input_div_grid textarea,
.inputs_area.linear .div_list_inputs .input_div_grid button,
.inputs_area.linear .div_list_inputs .input_div_grid select {
  margin-top: 16px;
  height: 48px;
  width: 264px;
  color: #878387;
  padding: 16px;
  cursor: pointer;
  background-color: #171317;
  border: none;
  border-radius: 8px;
}
.inputs_area.linear .div_list_inputs .input_div_grid button {
  font-size: 20px;
  font-weight: 500;
  padding-top: 12px;
}
.inputs_area.linear .div_list_inputs .input_div_grid button:active {
  background-color: rgba(23, 19, 23, 0.3);
}
.inputs_area.linear .div_list_inputs .input_div_grid .descr_input {
  width: 550px;
  height: 200px;
  resize: none;
}
.inputs_area.linear .div_list_inputs .input_div_grid.desc_area {
  width: 100%;
  max-height: 450px;
}
.inputs_area.linear .div_list_inputs .container_actores_list {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 16px;
}
.inputs_area.linear .div_list_inputs .actors_div_film {
  width: 210px;
  height: 280px;
  background-color: #171317;
  border-radius: 8px;
}
.inputs_area.linear .div_list_inputs .actors_div_film:hover .box_color_bg {
  visibility: visible;
  background-color: #171317;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.inputs_area.linear .div_list_inputs .container_names_actors {
  width: 100%;
  height: 30%;
  padding: 10px;
  margin-top: -95px;
  opacity: 1;
}
.inputs_area.linear .div_list_inputs .title_persona_name {
  font-size: 16px;
}
.inputs_area.linear .div_list_inputs .title_actor_name {
  font-size: 20px;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor {
  width: 560px;
  height: 348px;
  display: flex;
  align-items: center;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor .div_picture_actor_input {
  display: flex;
  flex-direction: column;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor .div_picture_actor_input .input_capas_picture {
  height: 348px;
  background-color: #171317;
  border: none;
  width: 260px;
  border-radius: 8px;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor .div_picture_actor_input .input_capas_picture .actor_picture {
  width: 184px;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor .input_capas_picture > input[type=file] {
  width: 100%;
  max-height: 348px;
  opacity: 0;
  cursor: pointer;
  background-color: #171317;
  border: none;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor .input_capas_picture > input[type=file]:focus-within {
  border: 10px solid #8501B0;
}
.inputs_area.linear .div_list_inputs .container_inputs_edit_actor .div_input_infos_actor {
  height: 280px;
  width: 360px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -65px;
}

.div_list_inputs.actors {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 24px;
}
.div_list_inputs.actors .add_atores {
  display: flex;
  flex-direction: column;
}
.div_list_inputs.actors .add_atores button:active {
  filter: brightness(0.9);
}
.div_list_inputs.actors .add_atores button {
  transition: 0.3s;
  margin-top: 16px;
  width: 264px;
  color: #878387;
  padding: 16px;
  cursor: pointer;
  background-color: #171317;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
}
.div_list_inputs.actors .container_actores_list {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.div_list_inputs.actors .actors_div_film {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 210px;
  height: 280px;
  background-color: #171317;
  border-radius: 8px;
  overflow: hidden;
}
.div_list_inputs.actors .actors_div_film img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: brightness(0.8);
}
.div_list_inputs.actors .actors_div_film .content {
  position: absolute;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.div_list_inputs.actors .actors_div_film::after {
  content: "";
  display: block;
  opacity: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  z-index: 5;
  transition: 0.2s;
}
.div_list_inputs.actors .actors_div_film:hover::after {
  opacity: 1;
}
.div_list_inputs.actors .title_persona_name {
  font-size: 16px;
}
.div_list_inputs.actors .title_actor_name {
  font-size: 20px;
}
.div_list_inputs.actors .container_inputs_edit_actor {
  width: 560px;
  height: 348px;
  display: flex;
  align-items: center;
}
.div_list_inputs.actors .container_inputs_edit_actor .div_picture_actor_input {
  display: flex;
  flex-direction: column;
}
.div_list_inputs.actors .container_inputs_edit_actor .div_picture_actor_input .input_capas_picture {
  height: 348px;
  background-color: #171317;
  border: none;
  width: 260px;
  border-radius: 8px;
}
.div_list_inputs.actors .container_inputs_edit_actor .div_picture_actor_input .input_capas_picture .actor_picture {
  width: 184px;
}
.div_list_inputs.actors .container_inputs_edit_actor .input_capas_picture > input[type=file] {
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: #171317;
  border: none;
}
.div_list_inputs.actors .container_inputs_edit_actor .input_capas_picture > input[type=file]:focus-within {
  border: 10px solid #8501B0;
}
.div_list_inputs.actors .container_inputs_edit_actor .div_input_infos_actor {
  height: 280px;
  width: 360px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -65px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}
.footer .footer_container_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.footer .footer_container_area button {
  width: 200px;
  padding: 16px 0;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}
.footer .footer_container_area button:hover {
  filter: brightness(1.3);
}
.footer .footer_container_area .cancel_btn {
  background-color: transparent;
  border: 1px solid #878387;
  color: #878387;
  font-size: 22px;
  text-align: center;
}
.footer .footer_container_area .delet_btn {
  background-color: transparent;
  border: 1px solid #FF2929;
  color: #FF2929;
  font-size: 22px;
  text-align: center;
}
.footer .footer_container_area .add_btn {
  background-color: #8501B0;
  border: none;
  color: #E7E7E7;
  font-size: 22px;
  text-align: center;
  margin-bottom: 8px;
}
.footer .cancel_btn {
  background-color: transparent;
  border: 1px solid #878387;
  color: #878387;
  font-size: 22px;
  text-align: center;
}
.footer .delet_btn {
  background-color: transparent;
  border: 1px solid #FF2929;
  color: #FF2929;
  font-size: 22px;
  text-align: center;
}
.footer .add_btn {
  background-color: #8501B0 !important;
  border: none;
  color: #E7E7E7 !important;
  font-size: 22px;
  text-align: center;
}
.footer .add_btn i {
  font-size: 16px;
  margin-right: 6px;
  margin-bottom: 8px;
}
.footer label {
  font-size: 20px;
  color: #878387;
}
.footer .input_div_grid_ava {
  min-width: 264px;
  min-height: 88px;
  display: flex;
  flex-direction: column;
}
.footer .input_div_grid_ava .label_ava {
  margin-bottom: -10px;
}
.footer .input_div_grid_ava input,
.footer .input_div_grid_ava textarea,
.footer .input_div_grid_ava button {
  margin-top: 10px;
  height: 48px;
  width: 204px;
  color: #878387;
  padding: 16px;
  cursor: pointer;
  background-color: #171317;
  border: none;
  border-radius: 8px;
}
.footer .input_div_grid_ava button {
  font-size: 20px;
  font-weight: 500;
  padding-top: 12px;
}
.footer .input_div_grid_ava button:active {
  background-color: rgba(23, 19, 23, 0.3);
}
.footer .input_div_grid_ava .remove_btn {
  background: #FF2929 !important;
  width: 180px !important;
  color: #E7E7E7 !important;
}

.atorModalLeft {
  width: 800px;
  max-width: 320px;
  height: 380px;
  display: inline-flex;
}
.atorModalLeft .atorModalRight {
  margin-bottom: 20px;
}

.container_actores_list {
  width: 100%;
  max-width: 1080px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 28px;
  gap: 16px;
}
.container_actores_list .btn_favoritar_filmes {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 41, 41, 0.6862745098);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}
.container_actores_list .btn_favoritar_filmes i {
  font-size: 14px; /* Ajusta o tamanho do ícone */
  color: #E7E7E7;
}

.actors_div_film {
  width: 210px;
  height: 280px;
  margin-bottom: 30px;
  background-color: #171317;
  border-radius: 8px;
}

.atorModalLeft .input_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.atorModalLeft .input_div .input_capas {
  height: 362px;
  background-color: #171317;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
}

.input_capas img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 8px;
}

.atorModalLeft .input_div .input_capas .banners {
  width: 433px;
}

.atorModalLeft .input_div .input_capas > input[type=file] {
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: #171317;
  border: none;
}

.atorModalLeft .input_div .input_capas > input[type=file]:visited {
  border: 10px solid #8501B0;
}

#preview {
  max-width: 250px;
  max-height: 330px;
  display: none;
  /* Escondido inicialmente */
}

.modal_add_ator {
  width: 950px;
}
.modal_add_ator .modal_content form {
  width: 100%;
}
.modal_add_ator .modal_content form .nome_ficticio_label {
  min-width: 100%;
  width: 100%;
}
.modal_add_ator .modal_content form .nome_ficticio_label span {
  width: 100%;
}
.modal_add_ator .modal_content form .nome_ficticio_label input {
  width: 100%;
  margin-top: 8px;
}
.modal_add_ator .modal_content form .search {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal_add_ator .modal_content form .container_actores_list {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.modal_add_ator .modal_content form .actors_div_film {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 210px;
  height: 280px;
  background-color: #171317;
  border-radius: 8px;
  overflow: hidden;
  transition: border 0.3s ease;
  /* Estilo para a borda roxa quando o rádio está selecionado */
}
.modal_add_ator .modal_content form .actors_div_film input[type=radio] {
  display: none;
}
.modal_add_ator .modal_content form .actors_div_film .title_persona_name, .modal_add_ator .modal_content form .actors_div_film .title_actor_name {
  font-size: 16px;
  color: white;
}
.modal_add_ator .modal_content form .actors_div_film .label_input_radio {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 3px solid transparent;
}
.modal_add_ator .modal_content form .actors_div_film .label_input_radio img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: brightness(0.8);
}
.modal_add_ator .modal_content form .actors_div_film .label_input_radio .content {
  position: absolute;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal_add_ator .modal_content form .actors_div_film .label_input_radio::after {
  content: "";
  display: block;
  opacity: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  z-index: 9;
  transition: 0.2s;
}
.modal_add_ator .modal_content form .actors_div_film .label_input_radio:hover::after {
  opacity: 1;
}
.modal_add_ator .modal_content form .actors_div_film input[type=radio]:checked + label {
  border: 3px solid purple;
}
.modal_add_ator .modal_content form .submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal_add_ator .modal_content form .submit .add_btn {
  padding: 16px 24px;
  background-color: #8501B0;
  border: none;
  color: #E7E7E7;
  font-size: 16px;
  text-align: center;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_add_ator .modal_content form .submit .add_btn i {
  font-size: 16px;
  margin-right: 8px;
}

.container_topArea {
  aspect-ratio: 16/9;
  margin-top: 30px;
  height: 480px;
  width: 100%;
}
.container_topArea .inputs_areas {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.container_topArea .inputs_areas .area_input {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.container_topArea .inputs_areas .input_div_grid {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.container_topArea .inputs_areas .input_div_grid input,
.container_topArea .inputs_areas .input_div_grid .button {
  margin-top: 13px;
  height: 48px;
  width: 264px;
  color: #878387;
  padding: 16px;
  cursor: pointer;
  background-color: #171317;
  border: none;
  border-radius: 8px;
}
.container_topArea .inputs_areas .input_div {
  display: flex;
  max-width: 400px;
}
.container_topArea .inputs_areas .input_div .input_capas {
  height: 409px;
  background-color: #171317;
  border: none;
  margin-top: 16px;
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
}
.container_topArea .inputs_areas .input_div .input_capas .cad_actors {
  width: 472px;
  aspect-ratio: 16/9;
}
.container_topArea .inputs_areas .input_div .input_capas > input[type=file] {
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: #171317;
  border: none;
}
.container_topArea .inputs_areas .input_div .input_capas > input[type=file]:focus-within {
  border: 10px solid #8501B0;
}