@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@100,200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #0F0C0F;
  color: #E7E7E7;
}

img {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1260px;
}

.big_container {
  position: relative;
  width: 100%;
  max-width: 1600px;
}

.border {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-full {
  width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_style {
  display: block;
  border-radius: 999px;
  border: none;
  padding: 12px 20px;
  color: #665E66;
  background: #171317;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 600;
}
.input_style:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

p {
  line-height: 160%;
}

h1 {
  font-size: 32px;
}

i {
  color: #E7E7E7;
}

.modal {
  z-index: 99;
  position: absolute;
  min-height: 80px;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 300px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #171317;
  border-radius: 8px;
  margin: 100px 0;
  background: #0F0C0F;
  transition: 0.4s;
}
.modal .modal_header {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #171317;
}
.modal .modal_header p {
  font-size: 18px;
  color: #ADA8AD;
}
.modal .modal_header .close {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 0;
  background: #878387;
  cursor: pointer;
}
.modal .modal_content {
  padding: 16px;
}

#modal_blur {
  display: block;
  inset: 0;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 20;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.btn_return {
  background-color: #171317;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 16px;
  margin-bottom: 32px;
  color: #878387;
  font-size: 1.1rem;
}

.toast {
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  color: #fff;
  width: 300px;
  text-align: center;
  position: fixed;
  top: 24px;
  font-weight: 700;
  transform: translateY(-300px);
  animation: toast-in 0.5s ease-out forwards, toast-out 0.5s ease-in forwards 5.5s;
}
.toast-success {
  background-color: #28a745;
  border: 1px solid #218838;
}
.toast-warning {
  background-color: #ffc107;
  border: 1px solid #e0a800;
  color: #212529;
}
.toast-error {
  background-color: #dc3545;
  border: 1px solid #bd2130;
}
.toast p {
  margin: 0;
  flex: 1;
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}