@import "./colors";

.botaoLogin {
  width: 100%;
  background: $purple-gradient !important;
  color: white !important;
  font-size: 18px;
}

.titulo {
  padding-bottom: 32px;
  padding-left: 2px;
}

.formularioLogin {
  flex-flow: column nowrap;
  height: 100vh;
  place-content: center;

}

.form_content {
  position: relative;
  display: block;
  width: 100%;
  // em, rem, px
  max-width: 400px;

  .form_container {
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;

    .input_style,
    .table_form_login {
      width: 100% !important;
    }
  }
}

.fazerCadastro {
  margin-top: 25px;
  display: block;
  text-align: center;
  width: 100%;
  color: $gray-400;

  .Cadastrar {
    color: $purple-light;
  }

}

.linhaLogin {
  opacity: 0.1;
  height: 0.1px;
  margin-top: 36px;
  width: 100%;
  display: block;

}

.input_test {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 12px 20px;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  color: $gray-400;

}

.input_test .input_icon {
  padding: 12px;
  width: 40px;
  position: relative;

}

.input_style_icon {
  display: flex !important;
  justify-content: space-between;
  padding: 0 0 0 20px !important;

}

.SenacBusterLogin {
  padding-bottom: 44px;
}

// input:-webkit-autofill,
//   input:-webkit-autofill:hover,
//   input:-webkit-autofill:focus,
//   input:-webkit-autofill:active{
//     -webkit-box-shadow: 0 0 0 30px #171317 inset !important;
//     -webkit-text-fill-color: $gray-300 !important;
//     outline: 0;
//     width: 110%;
//   }
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color: $gray-300 !important;
  -webkit-box-shadow: 0 0 0px 1000px #171317 inset;
  transition: background-color 5000s ease-in-out 0s;
 
}