<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Cinema - Cliente</title>
    <link rel="stylesheet" href="./../../css/global.css">
    <link rel="stylesheet" href="./../../css/menu.css">
    <link rel="stylesheet" href="./../../css/formsNewFilm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100,200,300,400,500,600,700,800,900;1,100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="body">
<nav class="container-menu">
    <div class="buttonsAreaView">
        <div class="buttonView active"><button><a href="cadNewFilme"><i
                class="fa-solid fa-circle-plus"></i></a></button>
            <p>Adicionar Filme</p>
        </div>
        <div class="buttonView"><button><a href="addActorPage"><i class="fa-solid fa-user-plus"></i></a></button>
            <p>Adicionar Atores</p>
        </div>
        <div class="buttonView"><button><a href=""><i class="fa-solid fa-right-from-bracket"></i></a></button>
            <p>Logout</p>
        </div>

    </div>
</nav>
<main class="container">
    <section class="container_topArea ">
        <button class="btn_return"><a href="index"><i class="fa-solid fa-arrow-left"></i></a></button>
        <h1>Cadastro de Atores</h1>

        <form method="post"
              action="/cadastroAdm/addActor"
              name="formAtor"
              enctype="multipart/form-data">

            <div class="container_inputs_areas">
                <div class="inputs_areas">
                    <div class="input_div">



                    </div>

                    <div class="area_input ">
                        <div class="input_div_grid ">
                            <label>Nome</label>
                            <label class="input_capas" > <input type="text" class="principal" name="nomeAtor"></label>
                        </div>
                        <div class="input_div_grid ">
                            <label>Idade</label>
                            <label class="input_capas"> <input type="date" class="principal" name="dataNascimento"></label>
                        </div>
                        <div class="input_div_grid">

                            <button class="add_btn button" type="submit">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="div_list_inputs actors">

            <div class="add_atores">
                <label>Atores Cadastrados</label>

            </div>

            <div class="container_actores_list">
                <div class="actors_div_film">
                    <img src="./../../../5teste.jpg" alt="Foto do ator">
                    <div class="content">
                        <p class="title_persona_name location">Nome do Personagem</p>
                        <p class="title_actor_name location">Nome do Ator</p>
                    </div>
                </div>
                <div class="actors_div_film">
                    <img src="./../../../5teste.jpg" alt="Foto do ator">
                    <div class="content">
                        <p class="title_persona_name location">Nome do Personagem</p>
                        <p class="title_actor_name location">Nome do Ator</p>
                    </div>
                </div>
                <div class="actors_div_film">
                    <img src="./../../../5teste.jpg" alt="Foto do ator">
                    <div class="content">
                        <p class="title_persona_name location">Nome do Personagem</p>
                        <p class="title_actor_name location">Nome do Ator</p>
                    </div>
                </div>
                <div class="actors_div_film">
                    <img src="./../../../5teste.jpg" alt="Foto do ator">
                    <div class="content">
                        <p class="title_persona_name location">Nome do Personagem</p>
                        <p class="title_actor_name location">Nome do Ator</p>
                    </div>
                </div>
                <div class="actors_div_film">
                    <img src="./../../../5teste.jpg" alt="Foto do ator">
                    <div class="content">
                        <p class="title_persona_name location">Nome do Personagem</p>
                        <p class="title_actor_name location">Nome do Ator</p>
                    </div>
                </div>
                <div class="actors_div_film">
                    <img src="./../../../5teste.jpg" alt="Foto do ator">
                    <div class="content">
                        <p class="title_persona_name location">Nome do Personagem</p>
                        <p class="title_actor_name location">Nome do Ator</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
<script src="./../scriptGlobal.js"></script>
<script src="https://kit.fontawesome.com/3d5034d18d.js" crossorigin="anonymous"></script>
</html>