<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Cinema - Cliente</title>
    <link rel="stylesheet" href="./../../css/global.css">
    <link rel="stylesheet" href="./../../css/menu.css">
    <link rel="stylesheet" href="./../../css/formsNewFilm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100,200,300,400,500,600,700,800,900;1,100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="body">
<nav class="container-menu">
    <div class="buttonsAreaView">
        <div class="buttonView active"><button><a href="cadNewFilme"><i
                class="fa-solid fa-circle-plus"></i></a></button>
            <p>Adicionar Filme</p>
        </div>
        <div class="buttonView"><button><a href="addActorPage"><i class="fa-solid fa-user-plus"></i></a></button>
            <p>Adicionar Atores</p>
        </div>
        <div class="buttonView"><button><a href=""><i class="fa-solid fa-right-from-bracket"></i></a></button>
            <p>Logout</p>
        </div>

    </div>
</nav>
<main class="container">
    <!-- titulo do formulario -->
    <div class="cockpit_filmes_form">
        <div class="cockpit_item_adm ">
            <button class="btn_return"><a href="index"><i class="fa-solid fa-arrow-left"></i></a></button>
            <h1>Capas & Banners</h1>
        </div>
    </div>

    <!-- campos do formulario -->
    <form id="formUpload" class="div_security_area" action="/cadastroAdm/cadNewFilme" method="post" enctype="multipart/form-data">
        <!-- banners -->
        <div class="inputs_area">
            <div class="input_div">
                <label>Capa principal</label>
                <label class="input_capas">
                    <img src="" alt="Clique para selecionar uma imagem" id="imagePreview" class="img_preview">
                    <!-- Campo de input de arquivo escondido -->
                    <input type="file" id="file-input" name="imagem" accept="image/*">
                </label>
                <!-- <label class="input_capas"> <input type="file" accept="image/*" class="principal"></label> -->
            </div>
            <div class="input_div">
                <label>Banner principal</label>
                <label class="input_capas">
                    <img src="" alt="Clique para selecionar uma imagem" id="imagePreview2" class="img_preview">
                    <!-- Campo de input de arquivo escondido -->
                    <input type="file" class="banners" id="file-input2" name="banner"  accept="image/*" onchange="handleFileChange(event, 'imagePreview2')">
                </label>

            </div>
        </div>

        <!-- campos -->
        <div class="inputs_area linear">
            <h1> Informações</h1>
            <div class="div_list_inputs">
                <div class="input_div_grid">
                    <label>Nome</label>
                    <label class="input_capas"> <input type="text" name="nomeFilme" class="principal"></label>
                </div>
                <div class="input_div_grid">
                    <label>Categoria</label>
                    <label class="input_capas">
                        <select id="cate" name="generoId" class="principal">
                            <option value="1">Ação</option>
                            <option value="2">Aventura</option>
                            <option value="3">Comédia</option>
                            <option value="4">Drama</option>
                            <option value="5">Terror</option>
                            <option value="6">Ficção Científica</option>
                            <option value="7">Romance</option>
                            <option value="8">Fantasia</option>
                            <option value="9">Suspense</option>
                            <option value="10">Mistério</option>
                            <option value="11">Animação</option>
                            <option value="12">Documentário</option>
                            <option value="13">Musical</option>
                            <option value="14">Histórico</option>
                            <option value="15">Família</option>
                        </select>
                    </label>
                </div>
                <div class="input_div_grid">
                    <label>Ano de Lançamento</label>
                    <label class="input_capas"> <input type="date" name="dataLancamento" class="principal"></label>
                </div>
                <div class="input_div_grid">
                    <label>Avaliações</label>
                    <label class="input_capas"> <input type="text" name="avaliacao" class="principal"></label>
                </div>
                <div class="input_div_grid">
                    <label>Tempo de duração <span style="font-size: 0.7rem;color: #cccccc65;">(exemplo: 120
                                min)</span></label>
                    <label class="input_capas"> <input type="text" name="duracao" class="principal"></label>
                </div>
                <div class="input_div_grid">
                    <label>Restrição de idade</label>
                    <label class="input_capas">
                        <select id="rest" name="classificacaoIndicativa" class="principal">
                            <option value="0">Livre</option>
                            <option value="12">+12</option>
                            <option value="14">+14</option>
                            <option value="16">+16</option>
                            <option value="18">+18</option>
                        </select>
                    </label>

                </div>
                <div class="input_div_grid desc_area">
                    <label>Descrição</label>
                    <label class="input_capas"> <textarea name = "descricao" class="descr_input" ></textarea></label>
                </div>
            </div>
        </div>



        <div class="footer">
            <div class="footer_container_area">
                <button class="cancel_btn" type="button" onclick="history.back()">
                    Cancelar
                </button>

                <button class="add_btn" type="submit">
                    <i class="fa-solid fa-plus"></i>
                    Adicionar
                </button>
            </div>
        </div>
    </form>

</main>


<div id="modal_blur" class="hidden">
</div>


<!-- fim do modal -->
<!--    <script src="./../scriptGlobal.js"></script>-->
<script src="https://kit.fontawesome.com/3d5034d18d.js" crossorigin="anonymous"></script>
<script>

    const form = document.getElementById('formUpload');
    const fileInput = document.getElementById('file-input');

 fileInput.addEventListener('change', async () => {
     const formData = new FormData(form);

     try {
         const response = await fetch(form.action, {
             method: 'POST',
             body: formData
         })

         if (response.ok) {
             console.log('Imagem enviada com sucesso!');
         } else {
             console.error('Erro ao enviar imagem');
         }
     } catch (err) {
         console.error('Erro na requisição:', err);
     }
 })
</script>

</body>

</html>
