.container {
  min-height: 100vh;
  flex-direction: column;
}

.user_content {
  gap: 16px;
  flex-direction: column;
}
.user_content h1 {
  margin-right: 16px;
}
.user_content .edit_button {
  display: block;
  border-radius: 8px;
  border: none;
  padding: 12px;
  color: #665E66;
  background: #171317;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 600;
}
.user_content .edit_button:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.user_content .actions_buttons {
  gap: 16px;
}
.user_content .label {
  text-align: center;
}
.user_content .label h4 {
  color: #665E66;
}
.user_content .label p {
  font-size: 24px;
  font-weight: 500;
}
.user_content .avatar_user_page {
  position: relative;
}
.user_content .avatar_user_page .avatar_container {
  width: 264px;
  height: 264px;
  background: #A411D4;
  overflow: hidden;
  border-radius: 100%;
}
.user_content .avatar_user_page .avatar_container .edit_icon {
  display: ab;
}
.user_content .avatar_user_page .avatar_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.user_content .avatar_user_page .edit_icon {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #211D21;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.user_content .avatar_user_page .edit_icon svg {
  width: 16px;
}
.user_content .avatar_user_page .edit_icon svg path {
  fill: #E7E7E7;
}
.user_content .avatar_user_page .edit_icon:hover {
  filter: brightness(1.2);
}

.modal_edit_user_name form {
  flex-direction: column;
  gap: 16px;
}
.modal_edit_user_name label.new_name_label span {
  margin-bottom: 8px;
  display: block;
  color: #878387;
}
.modal_edit_user_name .input_style {
  width: 100%;
}
.modal_edit_user_name .update_button {
  background: linear-gradient(to right, #C648EF, #8501B0);
  color: #E7E7E7;
  font-size: 20px;
}

.modal_edit_user_img form {
  flex-direction: column;
}
.modal_edit_user_img .input_style {
  width: 100%;
}
.modal_edit_user_img .update_button {
  background: linear-gradient(to right, #C648EF, #8501B0);
  color: #E7E7E7;
  font-size: 20px;
}
.modal_edit_user_img label.new_name_label {
  margin-bottom: 16px;
}
.modal_edit_user_img label.new_name_label span {
  margin-bottom: 8px;
  display: block;
  color: #878387;
}
.modal_edit_user_img .avatar {
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.modal_edit_user_img .avatar .avatar_img {
  width: 160px;
  height: 160px;
  background: #A411D4;
  border-radius: 100%;
  overflow: hidden;
}
.modal_edit_user_img .avatar .avatar_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.area_admin_link, .input_style {
  font-size: 14px;
  font-weight: 600;
}