<link rel="stylesheet" href="./css/global.css"/>
<link rel="stylesheet" href="./css/home.css"/>

<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100,200,300,400,500,600,700,800,900;1,100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet"
/>
<section id="filmes_container" th:fragment="layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="filme : ${filmes}">
        <div class="filme_content flex-center">
            <div th:replace="~{fragments/card :: card(${filme})}"></div>
        </div>
    </div>
</section>
<script src="scriptGlobal.js"></script>
<script src="carrossel.js"></script>
