<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${filme.nomeFilme} + ' - Feedback Cinema'">Titulo do filme - Feedback Cinema</title>

    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/details.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>
<body>

<!-- ==================== BANNER DINÂMICO ==================== -->
<div class="big_container flex-center" id="banner_details"
     th:href="@{/filme/detalhes/{id}(id=${filme.id})}"
     th:style="'background-image: url(data:image/png;base64,' + ${filme.imagemBanner64} + ');'">
<div class="gradient"></div>

    <div class="container">
        <div class="content">
            <a href="/home" class="voltar_btn input_style flex-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path
                        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                </svg>
            </a>

            <!-- TÍTULO -->
            <h1 th:text="${filme.nomeFilme}">Nome do filme</h1>

            <!-- INFO PRINCIPAL -->
            <div class="info_details flex">
                <!-- Gênero principal -->
                <li th:each="g : ${filme.generos}" th:text="${g.genero.nomeGenero}"></li>

                <!-- Avaliação -->
                <span class="stars-details">
                    <i class="fa-solid fa-star"></i>
                    <span th:text="${filme.avaliacao}">4.5</span>
                </span>

                <!-- Ano -->
                <span th:text="${#temporals.format(filme.dataLancamento, 'yyyy')}">2016</span>

                <!-- Classificação -->
                <span><div class="censure-details" th:text="${filme.classificacaoIndicativa}">12</div></span>

                <!-- Duração formatada -->
                <span th:text="${filme.duracao / 60} + 'h' + (${filme.duracao % 60})"></span>
            </div>

            <!-- SINOPSE -->
            <p th:text="${filme.descricao}">
                Sinopse do filme aqui.
            </p>

            <div class="buttons_container flex">
                <button class="favoritar input_style">
                    <i class="fa-regular fa-bookmark"></i>Favoritar
                </button>

                <a href="#comentar_no_filme" class="comentar input_style">Comentar</a>
            </div>
        </div>
    </div>
</div>

<!-- ==================== CONTEÚDO GERAL ==================== -->
<main class="big_container flex-center">
    <div class="container">

        <!-- ==================== ATORES ==================== -->
        <section id="atores_principais">
            <h1>Atores Principais</h1>

            <div class="atores_container flex">

                <div class="ator" th:each="fa : ${atores}">

                    <img th:src="${fa.ator.fotoBase64}"
                         alt="Foto do ator">

                    <div class="details_in_hover flex">
                        <span th:text="${fa.papel}">Personagem</span>
                        <h3 th:text="${fa.ator.nomeAtor}">Nome do ator</h3>
                    </div>

                </div>

            </div>
        </section>



        <!-- ==================== COMENTÁRIOS ==================== -->
        <section id="movie_comments" class="flex">
            <div class="comentarios">
                <h1>Comentários</h1>

                <div class="comentarios_container">

                    <!-- LISTA REAL DE COMENTÁRIOS DO BANCO -->
                    <th:block th:each="c : ${comentarios}">
                        <div class="comentario">
                            <div class="usuario">
                                <i class="fa-solid fa-user"></i>
                                <span th:text="${c.usuario.nome}">Usuário</span>
                            </div>

                            <p th:text="${c.texto}">Comentário aqui...</p>
                            <!--
                                    <div class="rating">
                                        <i class="fa-solid fa-star"></i>
                                        <span th:text="${avaliacoesPorComentario[c.id] != null ?
                                        'Nota: ' + avaliacoesPorComentario[c.id].nota :
                                        'Sem nota'}"></span>
                                    </div>-->
                                </div>
                            </th:block>

                        </div>
                    </div>

                    <!-- FORMULÁRIO DE COMENTÁRIO -->
            <div class="form_comentarios" id="comentar_no_filme">
                <form class="flex"
                      th:action="@{/comentario/salvar/{id}(id=${filme.id})}"
                      method="post">

            <textarea class="input_style textarea_comment"
                      placeholder="Digite seu comentário"
                      name="texto"
                      required></textarea>

                    <div class="flex-between w-full">

                        <!--        <label class="select_star input_style flex">
                                    <div class="star_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path
                                                    d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3
                                        51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329
                                        113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5
                                        128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329
                                        542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7
                                        L381.2 150.3 316.9 18z"/>
                                        </svg>
                                    </div>

                                     AQUI ESTÁ O NOME DO CAMPO PARA ENVIAR A NOTA
                                    <select name="nota" class="border">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>-->

                        <input class="input_style" type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </section>


    </div>
</main>

<script src="https://kit.fontawesome.com/3d5034d18d.js" crossorigin="anonymous"></script>

</body>
</html>
